h1 {
    font-family: Helvetica;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100wh;
}
.question {
    color: #023047;
}
.title-container {
    background-color: #FFB703;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.answer {
    color: #AE2012;
}
.musk {
    max-height: 50vh;
}
